.index-ft {
  padding-bottom: 20px;
  text-align: center;
}
.index-logo {
  width: 86px;
  height: 86px;
}
.index-desc {
  margin-top: 20px;
  color: #888888;
  font-size: 28px;
}


.navigator-box {
  opacity: 0;
  position: relative;
  background-color: #FFFFFF;
  line-height: 1.41176471;
  font-size: 34px;

  transform: translateY(-50%);
  transition: .3s;
}
.navigator-box-show {
  opacity: 1;
  transform: translateY(0);
}
.navigator {
  padding: 20px 30px;
  position: relative;
  display: flex;
  align-items: center;
}
.navigator:before {
  content: " ";
  position: absolute;
  left: 30px;
  top: 0;
  right: 30px;
  height: 2px;
  border-top: 1px solid #D8D8D8;
  color: #D8D8D8;
}
.navigator:first-child:before {
  display: none;
}
.navigator-text {
  flex: 1;
}
.navigator-arrow {
  padding-right: 26px;
  position: relative;
}
.navigator-arrow:after {
  content: " ";
  display: inline-block;
  height: 18px;
  width: 18px;
  border-width: 2px 2px 0 0;
  border-color: #888888;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 28px;
}


.kind-list-item {
  margin: 20px 0;
  background-color: #FFFFFF;
  border-radius: 4px;
  overflow: hidden;
}
.kind-list-item:first-child {
  margin-top: 0;
}
.kind-list-text{
  flex: 1;
}
.kind-list-img {
  width: 60px;
  height: 60px;
}
.kind-list-item-hd {
  padding: 30px;
  display: flex;
  align-items: center;

  transition: opacity .3s;
}
.kind-list-item-hd-show {
  opacity: .2;
}
.kind-list-item-bd {
  height: 0;
  overflow: hidden;
}
.kind-list-item-bd-show {
  height: auto;
}