.index{
	/*background: #fbf9fe;*/
	padding: 30px;
}
.index-hd{
	width: 100%;
	text-align: center;
	font-size: 1rem;
}
.index-main{
	border: 2px solid #ddd;
	border-radius: 17px;
	padding: 40px;
	margin-top: 50px;
}
.section{
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 30px;
	font-size: 0.8rem;
}
.picker{
	height: 40px;
}
.picker-s{
	color: #808080;
}
.buttons{
	text-align: center;
	width: 100%;
}
.other-button-hover{
	opacity: .7;
}