/*
* @Author: iMocco
* @Date:   2019-02-19 15:30:49
* @Last Modified by:   iMocco
* @Last Modified time: 2019-02-19 15:31:06
*/
.team-view{
  padding: 40rpx;
  .team-item{
    width: 50%;
    height: 200rpx;
    border-radius: 8rpx;
    border: 1rpx solid #ededed;
  }
}