/*
* @Author: iMocco
* @Date:   2019-02-18 15:21:38
* @Last Modified by:   iMocco
* @Last Modified time: 2019-02-18 16:05:02
*/

.index {
  background: #ebebeb;
  width: 100%;

  .user-info {
    padding: 40rpx 0;
    background: #fff;

    .name-avatar {
      text-align: center;
    }
  }

  .user-follows {
    background: #fff;
    border-bottom: 1rpx solid #ebebeb;
    padding: 30rpx 0;

    .follow {
      text-align: center;

      .title {
        color: rgb(140, 140, 140);
      }
      .count {
        font-size: 50rpx;
        font-weight: bold;
        color: rgb(89, 89, 89);
      }
    }
    .follow:first-child{
        border-right: 1px solid #ebebeb;
    }
  }
}
