.index{
}
.user-info{
	border-bottom: 1px solid #888;
	color: #fff;
	padding:40px 40px 40px 40px;
	text-align: center;
	background: #1a99fb;
}
.tip{
}
.userinfo-avatar {
  border-radius: 128px;
  width: 128px;
  height: 128px;
  clear: both;
}
.userinfo-nickname {
  margin-top: 20px;
  font-size: 38px;
}
.userinfo{
	width: 128px;
	margin: 0 auto;
}
.user-group{
	margin-top: 20px;
	font-size: 10pt;
	border: 1px solid #ddd;
	border-left: none;
	border-right: none;
	padding: 30px 10px 30px 40px;
}